title List of Employees
h2 List of Employees
hr

for member in members

    td="FirstName: "+member.firstname
    br
    br
    td="LastName: "+member.lastname
    br
    br
    td="email: "+ member.email
    br
    br
    td="DOB: "+member.dob
    br
    br
    td="DOJ: "+ member.doj
    br
    br
    td="PAN: "+ member.doj  
    br
    br
    td="Aadhar: "+ member.aadhar  
    br
    br
    td="Address: "+ member.address  
    br
    br
    td="City: "+ member.city  
    br
    br
    td="State: "+ member.state  
    br
    br
    td="ZipCode: "+ member.zipcode  
    br
    br
    td="LastEmployeeName: "+ member.lastemployeename  
    br
    br
    td="HSC: "+ member.hsc 
    br
    br
    td="SSC: "+ member.ssc 
    br
    br
    td="EmergencyContact: "+ member.emergencycontact 
    hr
    br